body {
  background-color: #4d4d4d;
  font-family: serif;
}

h1 {
  font-size: 60px;
  font-family: cursive;
}

.header h4 {
  font-size: 24px;
}

.sidebar{
  width: 450px;
  padding-top: 8px;
}

.sidebar img {
  width: 100%;
  border: 3px solid black;
}

/* Adds margin between headshot and project list*/
.addMargin {
  margin-top: 15px;
}

.header {
  margin-top: 119px;
  margin-bottom: 120px;
  text-align: center;
  color: white;
  /* floats to left when viewport is condensed */
  /* only put in for requirement, TAKE OUT LATER */
  float: left;
}

ol span {
  font-weight: bold;
}
