.sidebar{
  width: 300px;
  background-color: salmon;
  padding-top: 8px;
}

.sidebar img {
  width: 280px;
  height: 280px;
}

.header {
  background-color: yellow;
  margin-top: 100px;
  margin-bottom: 119px;
  text-align: center;
}

.two {
  background-color: skyblue;
}

.three {
  background-color: orange;
  width: 150px;
}
